<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div class = "wrap">
        <div class ="loginBox">
            <form action="">
                <p><lable>아이디</lable><input type="text"></p>
                <p><lable>비밀번호</lable><input type="password"></p>
                <p><button>로그인</button></p>
            </form>
        </div>
    </div>
</body>
</html>