<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <aticle>Uppermost menu</aticle>
    <aticle>Header</aticle>
    <aticle>Nav</aticle>
    <aticle>Content</aticle>
    <aticle>Sidebanner</aticle>
    <aticle>Sidemenu</aticle>
    <aticle>Fotter Menu</aticle>
    <aticle>Fotter</aticle>
            

</body>
</html>